<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>1</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Disk</InstallFrom>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <PublishDir>bin\Release\net7.0-windows\win-x86\app.publish\</PublishDir>
    <PublishUrl>C:\Users\jljac\OneDrive\Documents\3d prints\cura profiles\CPL\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>False</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <ManifestCertificateThumbprint>C7021E3BA6C381D5D89EB1D92265B4EB7E8D28B2</ManifestCertificateThumbprint>
    <ManifestKeyFile>Cura Profile Loader_TemporaryKey.pfx</ManifestKeyFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <ProductName>Cura Profile Loader</ProductName>
    <PublisherName>Joseph Jackson</PublisherName>
    <SupportUrl>https://github.com/phnxdrgn536/FLSun-v400/issues</SupportUrl>
  </PropertyGroup>
</Project>